* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #17324f;
	color: #ffffff;
	font-family: 'Work Sans', sans-serif;
	height: 100vh;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

#play {
	color: #ffffff;
	font-size: medium;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
	justify-content: space-between;
	padding: 20px;
	/* Añadido espacio en los bordes */
}

pre {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #00ff0a;
	white-space: pre-wrap;
	overflow: hidden;
}

pre span:first-child {
	color: rgb(255, 255, 0);
}

pre span:last-child {
	color: #795548;
}

@keyframes fall {
	0% {
		top: -100px;
	}

	100% {
		top: 100vh;
	}
}

h1 {
	text-align: center;
}


.snow {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: -100px;
}

.snow-floor {
	width: 100%;
	height: 3%;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	border-radius: 50% 50% 0 0;
}

.title {
	color: #fff;
	font-family: "Lobster";
	font-weight: lighter;
	text-align: center;
	/* Añadido centrado */
}

.portada {
	width: 100%;
	background-image: url('../img/christmas-tree-2928142_1920.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #ffffff;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 20px;
	/* Ajustado el espacio en la parte superior */
	text-transform: uppercase;
	letter-spacing: 3px;
}

.portada .header .logotipo {
	font-size: 30px;
	margin-bottom: 10px;
	/* Ajustado el espacio entre el logotipo y el mensaje */
}

.portada .header .mensaje {
	font-size: 18px;
}

main {
	max-width: 100%;
	width: 100%;
	padding: 20px;
	/* Añadido espacio en los bordes */
	font-size: 16px;
	line-height: 24px;
	/* Ajustado el interlineado */
	text-align: left;
}

#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	/* Ajustado el espacio en la parte inferior */
}

.simply-section {
	background: #949494;
	width: 150px;
	/* Ajustado el tamaño */
	height: 120px;
	/* Ajustado el tamaño */
	margin: 0 10px;
	/* Ajustado el espacio entre secciones */
	border-radius: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 40px;
	/* Ajustado el tamaño */
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 20px;
}

.redes-sociales .btn-red-social {
	padding: 10px 0;
	display: inline-block;
	min-width: 80px;
	/* Ajustado el tamaño */
	border-radius: 5px;
	background: #ff4040;
	color: #000000;
	font-size: 20px;
	margin: 0 10px;
	transition: .1s ease all;
}

.redes-sociales .btn-red-social:hover {
	box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, .15);
}

@media (max-width: 768px) {
	.portada .header .logotipo {
		font-size: 24px;
		display: flex;
		flex-direction: column;
		align-items: center; /* Añadido centrado horizontal */
		border-radius: 50%;
	}

	.portada .header .mensaje {
		font-size: 20px;
		display: block;
		text-align: center; /* Añadido centrado horizontal */
		border-radius: 50%;
	}

	.simply-section {
		width: 80px; /* Tamaño ajustado para ser uniforme con los demás */
		height: 80px; /* Ajustado el tamaño */
		margin: 0 5px; /* Ajustado el espacio entre secciones */
	}
}
